.popup__container {
  position: relative;
  width: 430px;
  min-height: 330px;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.15);
  box-sizing: border-box;
  background-color: #fff;
}

@media screen and (max-width: 560px) {
.popup__container {
    width: 282px;
    min-height: 322px;
  }
}
