.profile {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  padding: 0;
  margin-top: 40px;
  margin-bottom: 51px;
  max-width: 880px;
  min-height: 120px;
}

@media screen and (max-width: 960px) {
  .profile{
    width: calc(100% - 76px);
    flex-direction: column;
  }
}

@media screen and (max-width: 420px) {
  .profile{
    width: calc(100% - 38px);
    margin-bottom:  38px;
  }
}
