.profile__user-name {
  margin: 0;
  padding: 0;
  max-width: 294px;
  color: #FFFFFF;
  font-size: 42px;
  font-weight: 500;
  line-height: 48px;
  margin-top: 24px;
  white-space: nowrap;
}
@media screen and (max-width: 425px) {
  .profile__user-name {
    font-size: 27px;
    line-height: 33px;
    max-width: 189px;
  }
}
