.popup__title {
  margin: 33px auto 54px;
  padding: 0;
  font-size: 24px;
  font-weight: 900;
  line-height: 29px;
  color: #000;
}

@media screen and (max-width: 560px) {
.popup__title {
    font-size: 18px;
    line-height: 22px;
    margin-top: 25px;
    margin-bottom: 75px;
  }
}
